/* ------ Fonts ------ */
@font-face {
    font-family: Lato;
    src: url('assets/fonts/Lato-Light.eot'); /* IE9 Compat Modes */
    src: url('assets/fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('assets/fonts/Lato-Light.woff2') format('woff2'), /* Super Modern Browsers */
    url('assets/fonts/Lato-Light.woff') format('woff'), /* Pretty Modern Browsers */
    url('assets/fonts/Lato-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('assets/fonts/Lato-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 300;
}

@font-face {
    font-family: Lato;
    src: url('assets/fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('assets/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('assets/fonts/Lato-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('assets/fonts/Lato-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('assets/fonts/Lato-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('assets/fonts/Lato-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 400;
}

@font-face {
    font-family: Lato;
    src: url('assets/fonts/Lato-Black.eot'); /* IE9 Compat Modes */
    src: url('assets/fonts/Lato-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('assets/fonts/Lato-Black.woff2') format('woff2'), /* Super Modern Browsers */
    url('assets/fonts/Lato-Black.woff') format('woff'), /* Pretty Modern Browsers */
    url('assets/fonts/Lato-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('assets/fonts/Lato-Black.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 900;
}

/* ------ Specification ------ */

body {
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #767e9e;
    padding: 0;
    margin: 0;
    letter-spacing: normal;
}

.container {
    max-width: 1020px;
    margin: 0 auto;
}

div,
p,
a,
span
{
    box-sizing: border-box;
}

p {
    margin: 0;
    line-height: 1.8em;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

h2, h3 {
    font-weight: 900;
    line-height: 1em;
    margin: 0;
    color: #666d89;

}

h2 {
    font-size: 30px;
    padding: 62px 0 20px;
}

h3 {
    font-size: 18px;
    letter-spacing: -0.009em;
}

a {
    transition: all 0.5s ease;
    text-decoration: none;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.d-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

/* ------ Header ------ */

.header {
    background-color: #2d303a;
    padding-bottom: 47px;
    border-bottom: 6px solid #323746;
}

.portfolio {
    padding: 0 40px;
}

.portfolio__text {
    letter-spacing: -0.012em;
}

.portfolio__list {
    padding: 8px 0 22px 1px;
}

.portfolio__item {
    margin-right: 10px;
}

.portfolio__link {
    color: #767e9e;
    font-size: 12px;
    border: 1px solid #767e9e;
    border-radius: 5px;
    padding: 3px 6px;
}

.active {
    color: #fff;
    border-color: #fff;
}

.portfolio__item a:hover {
    color: #fff;
    border-color: #fff;
}

.portfolio__images {
    flex-wrap: wrap;
    max-width: 940px;
    justify-content: space-between;
}

.portfolio__img {
    margin-bottom: 16px;
}

/* ------ About-wrap ------ */

.about-wrap {
    background: #f2f2f2;
    border-bottom: 6px solid #fff;
    padding-bottom: 65px;
}

.about {
    padding: 0 40px;
}

.about__text {
    font-weight: 300;
    line-height: 1.7em;
}

.about__list {
    padding-top: 45px;
    max-width: 940px;
    justify-content: space-between;
}

.about__item {
    max-width: 300px;
}

.about__subtitle {
    padding: 13px 0 10px;
}

.about__subtext {
    font-size: 12px;
    letter-spacing: -0.008em;
}

.about__contacts {
    padding-top: 26px;
    max-width: 153px;
    justify-content: space-between;
    align-items: center;
}

.about__link {
    width: 31px;
    height: 31px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border: 1px solid #69708b;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.about__link:hover {
    background: #a8b3dd;
    border: 1px solid #a8b3dd;
}





