/*------ Fonts ------ */
@font-face {
    font-family: "Lato";
    src: url("assets/fonts/Lato-Light.eot"); /* IE9 Compat Modes */
    src: url("assets/fonts/Lato-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("assets/fonts/Lato-Light.woff2") format("woff2"), /* Super Modern Browsers */ url("assets/fonts/Lato-Light.woff") format("woff"), /* Pretty Modern Browsers */ url("assets/fonts/Lato-Light.ttf") format("truetype"), /* Safari, Android, iOS */ url("assets/fonts/Lato-Light.svg#svgFontName") format("svg"); /* Legacy iOS */
    font-weight: 300;
}

@font-face {
    font-family: "Lato";
    src: url("assets/fonts/Lato-Regular.eot"); /* IE9 Compat Modes */
    src: url("assets/fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("assets/fonts/Lato-Regular.woff2") format("woff2"), /* Super Modern Browsers */ url("assets/fonts/Lato-Regular.woff") format("woff"), /* Pretty Modern Browsers */ url("assets/fonts/Lato-Regular.ttf") format("truetype"), /* Safari, Android, iOS */ url("assets/fonts/Lato-Regular.svg#svgFontName") format("svg"); /* Legacy iOS */
    font-weight: 400;
}

@font-face {
    font-family: "Lato";
    src: url("assets/fonts/Lato-Bold.eot"); /* IE9 Compat Modes */
    src: url("assets/fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("assets/fonts/Lato-Bold.woff2") format("woff2"), /* Super Modern Browsers */ url("assets/fonts/Lato-Bold.woff") format("woff"), /* Pretty Modern Browsers */ url("assets/fonts/Lato-Bold.ttf") format("truetype"), /* Safari, Android, iOS */ url("assets/fonts/Lato-Bold.svg#svgFontName") format("svg"); /* Legacy iOS */
    font-weight: 700;
}

@font-face {
    font-family: "Lato";
    src: url("assets/fonts/Lato-Black.eot"); /* IE9 Compat Modes */
    src: url("assets/fonts/Lato-Black.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("assets/fonts/Lato-Black.woff2") format("woff2"), /* Super Modern Browsers */ url("assets/fonts/Lato-Black.woff") format("woff"), /* Pretty Modern Browsers */ url("assets/fonts/Lato-Black.ttf") format("truetype"), /* Safari, Android, iOS */ url("assets/fonts/Lato-Black.svg#svgFontName") format("svg"); /* Legacy iOS */
    font-weight: 900;
}

/* ------ Specification ------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #767e9e;
    padding: 0;
    margin: 0;
    letter-spacing: normal;
}

.container {
    width: 1020px;
    margin: 0 auto;
}

p {
    margin: 0;
    padding: 0;
    line-height: 21px;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3 {
    margin: 0;
}

h1 {
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    color: #fff;
    line-height: 25px;
    letter-spacing: -0.5px;
}

h2, h3, h4 {
    font-weight: 900;
    color: #666d89;
}

h2 {
    font-size: 30px;
    letter-spacing: -0.2px;
}

h3, h4 {
    font-size: 18px;
}

a, button {
    cursor: pointer;
    transition: all 0.5s ease;
    text-decoration: none;
}

input, textarea, button {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 12px;
    border-radius: 5px;
}

input, textarea {
    resize: none;
}

input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active, textarea {
    outline: none;
    border: none;
}

input:focus::placeholder, textarea:focus::placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

:invalid {
    box-shadow: none;
}

.d-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.none {
    display: none;
}

/* ------ Header ------ */

.header {
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    position: sticky;
    top: 0;
    z-index: 20;
}

.nav {
    align-items: flex-end;
    padding: 32px 40px;
}

.nav__element {
    color: #f06c64;
}

.nav__item {
    position: relative;
    display: inline-block;
    padding-left: 27px;
}

.nav__menu li + li::before {
    position: absolute;
    bottom: 0;
    left: 10px;
    content: ".";
    font-size: 24px;
    color: #494e62;
}

.nav__link {
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: -0.26px;
}

.nav__link:hover,
.active {
    color: #f06c64 ;
}

.nav__button {
    display: none;
    position: absolute;
    left: 3px;
    top: -9px;
    width: 60px;
    font-size: 0;
}

.nav__button span {
    display: block;
    position: absolute;
    top: 44px;
    left: 18px;
    right: 18px;
    height: 2px;
    background: #fff;
    border-radius: 10px;
}

.nav__button span::before, .nav__button span::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    height: 2px;
    background: #fff;
    width: 100%;
    border-radius: 10px;
}

.nav__button span::before {
    top: -9px;
}

.nav__button span::after {
    bottom: -9px;
}

.nav__button-line {
    background: #2d303a;
}

.nav__button-line span, .nav__button-line span::before, .nav__button-line span::after {
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
}

.nav__button-line span {
    transition-property: top, transform;
}

.nav__button-line.is-active span {
    transform: rotate(-90deg);
}

.nav__button-line.is-active span::before,.nav__button-line.is-active span::after {
    transition-delay: 0s, 0.3s;
}

/* ------ Slider ------ */

.slider {
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.new-bg {
    background-color: #648BF0;
    border-bottom: 6px solid #5173cb;
}

.slider-wrap {
    width: 860px;
    height: 594px;
    padding: 52px 0 54px;
    margin-left: 80px;
    overflow: hidden;
}

.slider-wrap__list {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 594px;
}


.slider-wrap__slider {
    float: left;
    width: 850px;
    height: 594px;
}

.slider-wrap__screen-wrap-vertical {
    position: relative;
}

.slider-wrap__image-vertical {
    position: absolute;
    top: 1px;
    left: 32px;
    z-index: 0;
    cursor: pointer;
    display: block;
    max-height: 100%;
    max-width: 100%;
}

.slider-wrap__black-vertical {
    position: absolute;
    width: 188px;
    height: 333px;
    background-color: #000;
    left: 46px;
    top: 66px;
    z-index: 1;
    cursor: pointer;
}

.slider-wrap__screen-wrap-horizontal {
    position: relative;
}

.slider-wrap__image-horizontal {
    position: absolute;
    top: 122px;
    left: 345px;
    z-index: 0;
    cursor: pointer;
    display: block;
    max-height: 100%;
    max-width: 100%;
}

.slider-wrap__black-horizontal {
    position: absolute;
    width: 333px;
    height: 188px;
    background-color: #000;
    right: 112px;
    top: 136px;
    z-index: 1;
    cursor: pointer;
}

.slider-wrap__screen-wrap-vertical-one {
    position: relative;
}

.slider-wrap__image-vertical-one {
    position: absolute;
    top: 104px;
    left: 172px;
    z-index: 0;
    cursor: pointer;
    opacity: 0.5;
}

.slider-wrap__black-vertical-one {
    position: absolute;
    width: 123px;
    height: 218px;
    background-color: #000;
    left: 180px;
    top: 146px;
    z-index: 2;
    cursor: pointer;
}

.slider-wrap__screen-wrap-vertical-two {
    position: relative;
}

.slider-wrap__image-vertical-two {
    position: absolute;
    top: -5px;
    left: 303px;
    z-index: 1;
    cursor: pointer;
}

.slider-wrap__black-vertical-two {
    position: absolute;
    width: 201px;
    height: 355px;
    background-color: #000;
    right: 332px;
    top: 63px;
    z-index: 2;
    cursor: pointer;
}

.slider-wrap__screen-wrap-vertical-three {
    position: relative;
}

.slider-wrap__image-vertical-three {
    position: absolute;
    top: 104px;
    left: 532px;
    z-index: 0;
    cursor: pointer;
    opacity: 0.5;
}

.slider-wrap__black-vertical-three {
    position: absolute;
    width: 123px;
    height: 218px;;
    background-color: #000;
    right: 186px;
    top: 146px;
    z-index: 2;
    cursor: pointer;
}

.slider__arrow-prev {
    position: relative;
}

.slider-links__arrow-prev {
    position: absolute;
    top: 281px;
    left: 42px;
    opacity: 0.5;
}

.slider__arrow-next {
    position: relative;
}

.slider-links__arrow-next {
    position: absolute;
    bottom: 282px;
    right: 40px;
    opacity: 0.5;
}

.slider-links__arrow-prev:hover, .slider-links__arrow-next:hover {
    opacity: 1;
}

/* ------ Services-wrap ------ */

.our-services {
    background: #f2f2f2;
    border-bottom: 6px solid #fff;
    scroll-margin-top: 95px;
}

.services {
    padding: 59px 30px 38px;
}

.services__main-title {
    padding: 0 10px;
}

.services__text-title {
    font-weight: 300;
    padding: 18px 10px 37px;
    line-height: 30px;
    text-align: justify;
}

.services__list {
    flex-wrap: wrap;
}

.services__item {
    margin: 10px 10px 27px;
    flex: 1 0 20%;
}

.services__icon {
    width: 60px;
    height: 60px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border: 2px solid #7a8098;
    text-align: center;
    justify-content: center;
}

.services__wrap {
    width: 220px;
    margin-left: 20px;
}

.services__title {
    line-height: 0px;
    padding-top: 7px;
    letter-spacing: -0.1px;
}

.services__text {
    font-size: 12px;
    text-align: justify;
    height: 60px;
    line-height: 22px;
    overflow: hidden;
    margin-top: 19px;
}

/* ------ Portfolio ------ */

.portfolio {
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    scroll-margin-top: 95px;
}

.photos {
    padding: 59px 30px 57px;
}

.photos__title {
    padding: 0 10px;
}

.photos__text {
    letter-spacing: -0.22px;
    padding: 23px 10px 0;
}

.photos__list {
    padding: 12px 0 12px 11px;
}

.photos__item {
    padding-right: 10px;
}

.photos__link {
    color: #767e9e;
    font-size: 12px;
    border: 1px solid #767e9e;
    border-radius: 5px;
    padding: 2px 6px 3px;
}

.active-btn {
    color: #fff;
    border-color: #fff;
}

.photos__item a:hover {
    color: #fff;
    border-color: #fff;
}

.photos__images {
    flex-wrap: wrap;
}

.photos__images div {
    cursor: pointer;
}

.photos__images  li {
    margin: 10px;
    flex: 1 0 20%;
}

.photos__images li:before {
    content: "";
    float: left;
    padding-top: 85%;
}

.photos__images div {
    width: 100%;
    height: 100%;
}

.photos__img-project-one {
    background: url("assets/img/Project1.png") center;
}

.photos__img-project-two {
    background: url("assets/img/Project2.png") center;
}

.photos__img-project-three {
    background: url("assets/img/Project3.png") center;
}

.photos__img-project-four {
    background: url("assets/img/Project4.png") center;
}

.photos__img-project-five {
    background: url("assets/img/Project5.png") center;
}

.photos__img-project-six {
    background: url("assets/img/Project6.png") center;
}

.photos__img-project-seven {
    background: url("assets/img/Project7.png") center;
}

.photos__img-project-eight {
    background: url("assets/img/Project8.png") center;
}

.photos__img-project-nine {
    background: url("assets/img/Project9.png") center;
}

.photos__img-project-ten {
    background: url("assets/img/Project10.png") center;
}

.photos__img-project-eleven {
    background: url("assets/img/Project11.png") center;
}

.photos__img-project-twelve {
    background: url("assets/img/Project12.png") center;
}

.photos__img:nth-child(n+13) {
    display: none;
}

.photos__border {
    outline: 5px solid #F06C64;
}

/* ------ About-us ------ */

.about-us {
    background: #f2f2f2;
    border-bottom: 6px solid #fff;
    scroll-margin-top: 95px;
}

.about {
    padding: 59px 30px 57px;
}

.about__title {
    padding: 0 10px;
}

.about__text {
    padding: 18px 10px 0;
    font-weight: 300;
    line-height: 30px;
    text-align: justify;
}

.about__list {
    padding-top: 35px;
    display: flex;
}

.about__item {
    margin: 10px;
    flex: 1 0 20%;
}

.about__img {
    width: 100%;
}

.about__subtitle {
    padding: 11px 0 8px;
    letter-spacing: -0.22px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.about__subtext {
    font-size: 12px;
    text-align: justify;
    line-height: 21px;
    letter-spacing: -0.06px;
}

.about__contacts {
    padding-top: 24px;
}

.about__link {
    width: 32px;
    height: 32px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border: 1px solid #69708b;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.about__link:hover {
    background: #a8b3dd;
    border: 1px solid #a8b3dd;
}

/* ------ Get a Quote ------ */

.get-a-quote {
    color: #f0d8d9;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    scroll-margin-top: 95px;
}

.quote {
    padding: 59px 40px 19px;
}

.quote__title {
    color: #f0d8d9;
}

.quote__text {
    font-weight: 300;
    text-align: justify;
    line-height: 30px;
    padding: 18px 0 41px;
}

.quote__information {
    flex-wrap: wrap;
}

.quote__form {
    width: 66%;
    padding-top: 3px;
    position: relative;
}

.quote__data-form {
    display: flex;
    flex-direction: column;
}

.quote__input, .quote__textarea {
    background-color: #d6564f;
    color: #f48c8f;
    padding-left: 15px;
}

.quote__input {
    height: 38px;
    margin-bottom: 16px;
    padding-bottom: 1px;
}

.quote__input:focus {
    background-color: #d6564f;
    color: #f48c8f;
}

.quote__input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #d6564f !important; /* Цвет фона */
    -webkit-text-fill-color: #f48c8f !important; /* цвет текста */
}

.quote__textarea {
    display: block;
    height: 202px;
    padding-top: 10px;
    margin-bottom: 13px;
}

.quote__input::-webkit-input-placeholder, .quote__textarea::-webkit-input-placeholder {
    color: #f48c8f;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.quote__input:focus:invalid {
    border: 1px solid #f0d8d9;
}

.quote__btn {
    cursor: pointer;
    padding: 10px 30px;
    background-color: #f0d8d9;
    color: #d6564f;
    width: 100px;
}

.quote__btn:hover {
    background-color: #f48c8f;
    color: #f0d8d9;
}

.quote__btn:active {
    background-color: #d6564f;
    color: #f48c8f;
}

.quote__contacts {
    width: 32%;
}

.quote__subtitle {
    color: #f0d8d9;
    letter-spacing: -0.1px;
    padding-top: 1px;
}

.quote__subtext {
    font-size: 12px;
    padding: 8px 0 25px;
    line-height: 22px;
    text-align: justify;
    letter-spacing: -0.027px;
}

.quote__list a {
    color: #f0d8d9;
}

.quote__list a:hover {
    color: #d6564f;
}

.quote__item {
    font-size: 12px;
    align-items: center;
    height: 11px;
    margin-bottom: 11px;
}

.quote__item:first-child {
    margin-bottom: 10px;
}

.quote__location {
    width: 7px;
    margin-right: 13px;
    margin-left: 3px;
}

.quote__phone {
    width: 11px;
    margin-right: 12px;
}

.quote__mail {
    width: 13px;
    margin-right: 10px;
}

/* ------ Input hints ------ */

.quote__name-hint {
    position: absolute;
    width: 250px;
    height: 38px;
    background: #fff;
    color: #666d89;
    opacity: 0.8;
    top: 50px;
    left: 50%;
    padding-left: 10px;
    padding-top: 12px;
    font-size: 12px;
    border-radius: 10px;
    transition: all 0.5s ease;
    z-index: 1;
}

.quote__name-hint:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0px;
    border-left: 10px solid #fff;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.quote__mail-hint {
    position: absolute;
    width: 250px;
    height: 38px;
    background: #fff;
    color: #666d89;
    opacity: 0.8;
    top: 104px;
    left: 50%;
    padding-left: 10px;
    padding-top: 12px;
    font-size: 12px;
    border-radius: 10px;
    transition: all 0.5s ease;
    z-index: 1;
}

.quote__mail-hint:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0px;
    border-left: 10px solid #fff;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.quote__mail-hint-second {
    position: absolute;
    width: 250px;
    height: 38px;
    background: #fff;
    color: #666d89;
    opacity: 0.8;
    top: 104px;
    left: 50%;
    padding-left: 10px;
    padding-top: 12px;
    font-size: 12px;
    border-radius: 10px;
    transition: all 0.5s ease;
    z-index: 1;
}

.quote__mail-hint-second:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0px;
    border-left: 10px solid #fff;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

/* ------ Modal window ------ */

.modal-window {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-window__content {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 350px;
    height: 200px;
    border-radius: 5px;
    background-color: #fff;
    opacity: 0.8;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.modal-window__title {
    margin-bottom: 30px;
}

.modal-window__content p {
    margin-top: 10px;
    font-size: 13px;
    color: #666d89;
}

.modal-window__subject {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.modal-window__describe {
    text-align: justify;
}

.modal-window__submit-btn {
    text-transform: uppercase;
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 70px;
    height: 25px;
    font-size: 12px;
    background-color: #f48c8f;
    color: #fff;
}

.modal-window__submit-btn:hover {
    color: #fff;
    background-color: #d6564f;
}

/* ------ Footer ------ */

.footer {
    background-color: #2d303a;
    font-size: 12px;
    color: #666d89;
}

.links {
    padding: 22px 40px 23px 42px;
}

.links__item {
    width: 32px;
    height: 32px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border: 1px solid #666d89;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
}

.links__item:hover {
    background: #a8b3dd;
    border: 1px solid #a8b3dd;
}

.links__text {
    letter-spacing: -0.16px;
    padding-bottom: 1px;
}

/* ------ Media-queries ------ */

@media (max-width: 1019px) {
    .container {
        width: 100%;
    }

    .nav {
        padding: 31px 40px 33px;
    }

    .nav__link {
        letter-spacing: -0.1px;
    }

    .slider-wrap {
        width: 620px;
        height: 445px;
        margin: 0 auto;
    }

    .slider-wrap__image-vertical {
        transform:  scale(0.75);
        left: -20px;
        top: -11px;
    }

    .slider-wrap__black-vertical {
        transform:  scale(0.76);
        left: -3px;
        top: -4px;
    }

    .slider-wrap__image-horizontal {
        transform:  scale(0.75);
        left: 185px;
        top: 81px;
    }

    .slider-wrap__black-horizontal {
        transform:  scale(0.76);
        right: 267px;
        top: 68px;
    }

    .slider-wrap__image-vertical-one {
        transform: scale(0.75);
        left: 106px;
        top: 35px;
    }

    .slider-wrap__black-vertical-one {
        transform: scale(0.76);
        left: 116px;
        top: 80px;
    }

    .slider-wrap__image-vertical-two {
        transform: scale(0.75);
        left: 195px;
        top: -70px;
    }

    .slider-wrap__black-vertical-two {
        transform: scale(0.76);
        left: 212px;
        top: 2px;
    }

    .slider-wrap__image-vertical-three {
        transform: scale(0.75);
        left: 379px;
        top: 35px;
    }

    .slider-wrap__black-vertical-three {
        transform: scale(0.76);
        left: 390px;
        top: 80px;
    }

    .slider-links__arrow-prev {
        top: 212px;
        left: 29px;
    }

    .slider-links__arrow-next {
        bottom: 202px;
        right: 27px;
    }

    .services {
        padding: 40px 30px 25px;
    }

    .services__text-title {
        padding: 18px 10px 28px;
    }

    .services__item {
        flex: 1 0 35%;
        margin: 10px 10px 48px;
    }

    .photos__text {
        padding-right: 50px;
        line-height: 29px;
        padding-top: 20px;
    }

    .photos__list {
        padding: 10px 0 20px 11px;
    }

    .photos__images  li {
        flex: 1 0 25%;
    }

    .photos__images div {
        background-size: 100%;
    }

    .about {
        padding: 51px 30px 59px;
    }

    .about__list {
        padding-top: 30px;
    }

    .about__subtitle {
        padding: 8px 0 0;
    }

    .about__contacts {
        padding-top: 14px;
    }

    .quote {
        padding: 51px 40px 46px;
    }

    .quote__text {
        padding: 18px 0 24px;
    }

    .quote__input {
        margin-bottom: 12px;
    }

    .quote__textarea {
        height: 159px;
    }

    .quote__subtext {
        padding: 0 0 16px;
    }
}

@media (max-width: 767px) {

    .nav__title {
        font-size: 19px;
        letter-spacing: normal;
        position: relative;
        z-index: 5;
    }

    .nav {
        justify-content: center;
        padding: 24px 40px 16px 52px;
    }

    .left {
        justify-content: left;
        margin-left: 19px;
    }

    .nav__nav {
        width: 279px;
        height: 100%;
        background-color: #2d303a;
        position: fixed;
        top: 0;
        left: -300px;
        display: flex;
        justify-content: center;
        transition: left 0.8s cubic-bezier(1, 0, 0, 1);
    }

    .nav__menu {
        display: flex;
        flex-direction: column;
        padding-top: 204px;
    }

    .nav__item {
        padding-top: 27px;
        padding-left: 4px;
    }

    .nav__menu li + li::before {
        content: "";
    }

    .nav__link {
        font-size: 25px;
    }

    .menu-opened {
        left: 0;
    }

    .nav__button {
        display: block;
    }

    .slider-wrap {
        width: 297px;
        height: 215px;
        margin: 0 auto;
    }

    .slider-wrap__image-vertical {
        transform: scale(0.37);
        left: -74px;
        top: -33px;
    }

    .slider-wrap__black-vertical {
        transform: scale(0.38);
        left: -52px;
        top: -114px;;
    }

    .slider-wrap__image-horizontal {
        transform: scale(0.37);
        left: -37px;
        top: 13px;
    }

    .slider-wrap__black-horizontal {
        transform: scale(0.38);
        right: 485px;
        top: -40px;
    }

    .slider-wrap__image-vertical-one {
        transform: scale(0.37);
        left: 9px;
        top: -90px;
    }

    .slider-wrap__black-vertical-one {
        transform: scale(0.38);
        left: 23px;
        top: -43px;
    }

    .slider-wrap__image-vertical-two {
        transform: scale(0.37);
        left: 30px;
        top: -195px;
    }

    .slider-wrap__black-vertical-two {
        transform: scale(0.38);
        left: 52px;
        top: -118px;
    }

    .slider-wrap__image-vertical-three {
        transform: scale(0.37);
        left: 145px;
        top: -90px;
    }

    .slider-wrap__black-vertical-three {
        transform: scale(0.38);
        left: 159px;
        top: -43px;
    }

    .slider-links__arrow-prev {
        top: 98px;
        left: 9px;
    }

    .slider-links__arrow-next {
        bottom: 87px;
        right: 9px;
    }

    .services {
        padding: 25px 22px 2px;
    }

    .services__text-title {
        padding: 18px 10px 21px;
    }

    .services__list {
        flex-direction: column;
        align-items: center;
        margin-left: -12px;
    }

    .services__item {
        margin: 10px 10px 23px;
    }

    .photos {
        padding: 42px 23px 28px;
    }

    .photos__title {
        padding: 0 7px;
    }

    .photos__text {
        padding: 19px 0 0 7px;
    }

    .photos__list {
        padding: 15px 0 21px 7px;
    }

    .photos__images li {
        flex: 1 0 35%;
        margin: 7px;
    }

    .photos__img:nth-child(n+9) {
        display: none;
    }

    .about {
        padding: 35px 20px 30px;
    }

    .about__list {
        flex-direction: column;
        padding-top: 30px;
    }

    .about__subtitle {
        padding: 12px 0 0;
    }

    .about__item {
        margin-top: 22px;

    }

    .quote {
        padding: 44px 30px 24px;
    }

    .quote__text {
        padding: 18px 2px 20px 0;
    }

    .quote__information {
        flex-direction: column;
    }

    .quote__form {
        width: 100%;
    }

    .quote__contacts {
        width: 100%;
        margin-top: 46px;
    }

    .quote__btn {
        width: 100%;
    }

    .quote__subtext {
        padding: 0 0 17px;
    }

    .quote__item {
        margin-bottom: 15px;
    }

    .quote__item:first-child {
        margin-bottom: 14px;
    }

    .links__text {
        display: none;
    }

    .links {
        justify-content: center;
    }

    .links__item:first-child {
        margin-left: 0;
    }
}

@media (max-width: 374px) {

    .slider-wrap {
        width: 257px;
        height: 180px;
    }

    .slider-wrap__image-vertical {
        transform: scale(0.30);
        left: -64px;
        top: -30px;
    }

    .slider-wrap__black-vertical {
        transform: scale(0.31);
        left: -42px;
        top: -126px;
    }

    .slider-wrap__image-horizontal {
        transform: scale(0.30);
        left: -67px;
        top: 5px;
    }

    .slider-wrap__black-horizontal {
        transform: scale(0.31);
        right: 514px;
        top: -57px;
    }

    .slider-wrap__image-vertical-one {
        transform: scale(0.30);
        left: -7px;
        top: -110px;
    }

    .slider-wrap__black-vertical-one {
        transform: scale(0.31);
        left: 8px;
        top: -63px;
    }

    .slider-wrap__image-vertical-two {
        transform: scale(0.30);
        left: 0;
        top: -215px;
    }

    .slider-wrap__black-vertical-two {
        transform: scale(0.31);
        left: 23px;
        top: -138px;
    }

    .slider-wrap__image-vertical-three {
        transform: scale(0.30);
        left: 103px;
        top: -110px;
    }

    .slider-wrap__black-vertical-three {
        transform: scale(0.31);
        left: 117px;
        top: -63px;
    }

    .slider-links__arrow-prev {
        top: 80px;
        left: 9px;
    }

    .slider-links__arrow-next {
        bottom: 71px;
        right: 9px;
    }

    .photos__item {
        padding-right: 2px;
    }

    .modal-window__content {
        width: 300px!important;
    }
}
