/*------ Fonts ------ */
@font-face {
    font-family: "Lato";
    src: url("assets/fonts/Lato-Light.eot"); /* IE9 Compat Modes */
    src: url("assets/fonts/Lato-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("assets/fonts/Lato-Light.woff2") format("woff2"), /* Super Modern Browsers */
    url("assets/fonts/Lato-Light.woff") format("woff"), /* Pretty Modern Browsers */
    url("assets/fonts/Lato-Light.ttf")  format("truetype"), /* Safari, Android, iOS */
    url("assets/fonts/Lato-Light.svg#svgFontName") format("svg"); /* Legacy iOS */
    font-weight: 300;
}

@font-face {
    font-family: "Lato";
    src: url("assets/fonts/Lato-Regular.eot"); /* IE9 Compat Modes */
    src: url("assets/fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("assets/fonts/Lato-Regular.woff2") format("woff2"), /* Super Modern Browsers */
    url("assets/fonts/Lato-Regular.woff") format("woff"), /* Pretty Modern Browsers */
    url("assets/fonts/Lato-Regular.ttf")  format("truetype"), /* Safari, Android, iOS */
    url("assets/fonts/Lato-Regular.svg#svgFontName") format("svg"); /* Legacy iOS */
    font-weight: 400;
}

@font-face {
    font-family: "Lato";
    src: url("assets/fonts/Lato-Bold.eot"); /* IE9 Compat Modes */
    src: url("assets/fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("assets/fonts/Lato-Bold.woff2") format("woff2"), /* Super Modern Browsers */
    url("assets/fonts/Lato-Bold.woff") format("woff"), /* Pretty Modern Browsers */
    url("assets/fonts/Lato-Bold.ttf")  format("truetype"), /* Safari, Android, iOS */
    url("assets/fonts/Lato-Bold.svg#svgFontName") format("svg"); /* Legacy iOS */
    font-weight: 700;
}

@font-face {
    font-family: "Lato";
    src: url("assets/fonts/Lato-Black.eot"); /* IE9 Compat Modes */
    src: url("assets/fonts/Lato-Black.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("assets/fonts/Lato-Black.woff2") format("woff2"), /* Super Modern Browsers */
    url("assets/fonts/Lato-Black.woff") format("woff"), /* Pretty Modern Browsers */
    url("assets/fonts/Lato-Black.ttf")  format("truetype"), /* Safari, Android, iOS */
    url("assets/fonts/Lato-Black.svg#svgFontName") format("svg"); /* Legacy iOS */
    font-weight: 900;
}

/* ------ Specification ------ */

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #767e9e;
    padding: 0;
    margin: 0;
    letter-spacing: normal;
    min-width: 1020px;
}

.container {
    width: 1020px;
    margin: 0 auto;
}

p {
    margin: 0;
    padding: 0;
    line-height: 21px;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3 {
    margin: 0;
}

h1 {
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    color: #fff;
    line-height: 24px;
    letter-spacing: -0.4px;
}

h2, h3 {
    font-weight: 900;
    color: #666d89;
}

h2 {
    font-size: 30px;
    letter-spacing: -0.2px;
}

h3 {
    font-size: 18px;
}

a, button {
    cursor: pointer;
    transition: all 0.5s ease;
    text-decoration: none;
}

input, textarea, button {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 12px;
    border-radius: 5px;
}

input, textarea {
    resize: none;
}

input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active, textarea {
    outline: none;
    border: none;
}

input:focus::placeholder, textarea:focus::placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

:invalid {
    box-shadow: none;
}

.d-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.none {
    display: none;
}

/* ------ Header ------ */

.header {
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.nav {
    align-items: flex-end;
    padding: 32px 40px 33px;
}

.nav__element {
    color: #f06c64;
}

.nav__item {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

.nav__link {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -0.22px;
}

.active {
    color: #f06c64;
}

.nav__item a:hover {
    color: #f06c64;
}

.nav__item::after {
    padding: 0 13.5px;
    color: #494e62;
    content: "·";
}

.nav__item:last-child::after {
    padding: 0;
    content: "";
}

/* ------ Slider ------ */

.slider {
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.slider-wrap {
    width: 1020px;
    height: 594px;
    padding: 52px 40px 54px;
    /*position: relative;*/
    overflow: hidden;
}

.slider-wrap__list {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 594px;
}


.slider-wrap__slider {
    float: left;
    width: 1020px;
    height: 594px;
}

.slider-wrap__screen-wrap-vertical {
    position: relative;
}

.slider-wrap__image-vertical {
    position: absolute;
    top: 1px;
    left: 72px;
    z-index: 0;
    cursor: pointer;
}

.slider-wrap__black-vertical {
    position: absolute;
    width: 188px;
    height: 333px;
    background-color: #000;
    left: 86px;
    top: 66px;
    z-index: 1;
    cursor: pointer;
}

.slider-wrap__screen-wrap-horizontal {
    position: relative;
}

.slider-wrap__image-horizontal {
    position: absolute;
    top: 122px;
    left: 385px;
    z-index: 0;
    cursor: pointer;
}

.slider-wrap__black-horizontal {
    position: absolute;
    width: 333px;
    height: 188px;
    background-color: #000;
    right: 242px;
    top: 136px;
    z-index: 1;
    cursor: pointer;
}

.slider-wrap__screen-wrap-vertical-one {
    position: relative;
}

.slider-wrap__image-vertical-one {
    position: absolute;
    top: 104px;
    left: 212px;
    z-index: 0;
    cursor: pointer;
}

.slider-wrap__black-vertical-one {
    position: absolute;
    width: 123px;
    height: 218px;
    background-color: #000;
    left: 220px;
    top: 146px;
    z-index: 2;
    cursor: pointer;
}

.slider-wrap__screen-wrap-vertical-two {
    position: relative;
}

.slider-wrap__image-vertical-two {
    position: absolute;
    top: -5px;
    left: 343px;
    z-index: 1;
    cursor: pointer;
}

.slider-wrap__black-vertical-two {
    position: absolute;
    width: 201px;
    height: 355px;
    background-color: #000;
    right: 462px;
    top: 63px;
    z-index: 2;
    cursor: pointer;
}

.slider-wrap__screen-wrap-vertical-three {
    position: relative;
}

.slider-wrap__image-vertical-three {
    position: absolute;
    top: 104px;
    left: 572px;
    z-index: 0;
    cursor: pointer;
}

.slider-wrap__black-vertical-three {
    position: absolute;
    width: 123px;
    height: 218px;;
    background-color: #000;
    right: 316px;
    top: 146px;
    z-index: 2;
    cursor: pointer;
}

.slider-arrows {
    position: relative;
}

.slider-links__arrow-prev {
    position: absolute;
    bottom: 281px;
    left: 42px;
}

.slider-links__arrow-next {
    position: absolute;
    bottom: 281px;
    left: 964px;
}

.slider-links__arrow-prev:hover, .slider-links__arrow-next:hover {
    opacity: 0.3;
}

/* ------ Services-wrap ------ */

.our-services {
    background: #f2f2f2;
    border-bottom: 6px solid #fff;
}

.services {
    padding: 59px 40px 65px;
}

.services__text-title {
    font-weight: 300;
    padding: 18px 0 10px;
    line-height: 30px;
    text-align: justify;
}

.services__list {
    flex-wrap: wrap;
}

.services__item {
    width: 300px;
    margin-top: 37px;
}

.services__icon {
    width: 60px;
    height: 60px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border: 2px solid #7a8098;
    text-align: center;
    justify-content: center;
}

.services__wrap {
    width: 220px;
}

.services__title {
    line-height: 0px;
    padding-top: 7px;
    letter-spacing: -0.1px;
}

.services__text {
    font-size: 12px;
    text-align: justify;
    height: 60px;
    line-height: 22px;
    overflow: hidden;
    margin-top: 19px;
}

/* ------ Portfolio ------ */

.portfolio {
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.photos {
    padding: 59px 40px 47px;
}

.photos__text {
    padding-top: 23px;
    letter-spacing: -0.22px;
}

.photos__list {
    padding: 12px 0 22px 1px;
}

.photos__item {
    margin-right: 10px;
}

.photos__link {
    color: #767e9e;
    font-size: 12px;
    border: 1px solid #767e9e;
    border-radius: 5px;
    padding: 2px 6px 3px;
}

.active-btn {
    color: #fff;
    border-color: #fff;
}

.photos__item a:hover {
    color: #fff;
    border-color: #fff;
}

.photos__images {
    flex-wrap: wrap;
    width: 940px;
}

.photos__img {
    margin-bottom: 16px;
}

.photos__img:nth-child(n+13) {
    display: none;
}

/* ------ About-us ------ */

.about-us {
    background: #f2f2f2;
    border-bottom: 6px solid #fff;
}

.about {
    padding: 59px 40px 67px;
}

.about__text {
    padding-top: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: justify;
}

.about__list {
    padding-top: 45px;
    width: 940px;
}

.about__item {
    width: 300px;
}

.about__subtitle {
    padding: 11px 0 8px;
    letter-spacing: -0.22px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.about__subtext {
    font-size: 12px;
    text-align: justify;
    line-height: 21px;
    letter-spacing: -0.06px;
}

.about__contacts {
    padding-top: 24px;
}

.about__link {
    width: 32px;
    height: 32px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border: 1px solid #69708b;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.about__link:hover {
    background: #a8b3dd;
    border: 1px solid #a8b3dd;
}

/* ------ Get a Quote ------ */

.get-a-quote {
    color: #f0d8d9;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.quote {
    padding: 59px 40px 20px;
}

.quote__title {
    color: #f0d8d9;
}

.quote__text {
    font-weight: 300;
    text-align: justify;
    line-height: 30px;
    padding: 18px 0 42px;
}

.quote__form {
    width: 620px;
    padding-top: 1px;
}

.quote__input, .quote__textarea {
    width: 620px;
    background-color: #d6564f;
    color: #f48c8f;
    padding-left: 15px;
}

.quote__input {
    height: 38px;
    margin-bottom: 16px;
}

.quote__input:focus {
    background-color: #d6564f;
    color: #f48c8f;
}

.quote__input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #d6564f !important; /* Цвет фона */
    -webkit-text-fill-color: #f48c8f !important; /* цвет текста */
}

.quote__textarea {
    display: block;
    height: 202px;
    padding-top: 11px;
    margin-bottom: 13px;
}

.quote__input::-webkit-input-placeholder, .quote__textarea::-webkit-input-placeholder {
    color: #f48c8f;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.quote__input:focus:invalid {
    border: 1px solid #f0d8d9;
}

.quote__btn {
    cursor: pointer;
    padding: 10px 30px;
    background-color: #f0d8d9;
    color: #d6564f;
}

.quote__btn:hover {
    background-color: #f48c8f;
    color: #f0d8d9;
}

.quote__btn:active {
    background-color: #d6564f;
    color: #f48c8f;
}

.quote__contacts {
    width: 300px;
}

.quote__subtitle {
    color: #f0d8d9;
    letter-spacing: -0.1px;
}

.quote__subtext {
    font-size: 12px;
    padding: 7px 0 26px;
    line-height: 22px;
    text-align: justify;
    letter-spacing: -0.027px;
}

.quote__list a {
    color: #f0d8d9;
}

.quote__list a:hover {
    color: #d6564f;
}

.quote__item {
    font-size: 12px;
    align-items: center;
    height: 11px;
    margin-bottom: 11px;
}

.quote__item:first-child {
    margin-bottom: 10px;
}

.quote__location {
    width: 7px;
    margin-right: 13px;
    margin-left: 3px;
}

.quote__phone {
    width: 11px;
    margin-right: 13px;
}

.quote__mail {
    width: 13px;
    margin-right: 10px;
}

/* ------ Footer ------ */

.footer {
    background-color: #2d303a;
    font-size: 12px;
    color: #666d89;
}

.links {
    padding: 21px 40px 23px 42px;
}

.links__item {
    width: 32px;
    height: 32px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border: 1px solid #666d89;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
}

.links__item:hover {
    background: #a8b3dd;
    border: 1px solid #a8b3dd;
}

.links__text {
    letter-spacing: -0.16px;
}